- if @soloist_script.errors.present?
  .error
    - @soloist_script.errors.full_messages.each do |message|
      - if message == "Recipes can't be blank"
        %p You can't create a SoloWizard Script without choosing some recipes.  Please check some of the boxes below.
      - else
        %p= message